/* 
    Created on : 2016-05-11, 23:09:35
    Author     : Adonai
*/

BODY{
    background-color: white;
    padding-top: 6%;
}
H1{
    color: green;
}
#a_1 a:link {
    text-decoration:none;
}
#a_1 a:hover {
    text-decoration:underline;
}
.in_button_right {
    float: right;
    margin-right: 10%;
    margin-top: 1%;
}
.in_button_left {
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}
.navi1 {
    padding-left: 8%;
    padding-right: 8%;
}

@media screen and (min-width: 320px) {
    BODY {
        padding-top: 10%;
    }
}

@media screen and (min-width: 480px) {
    BODY {
        padding-top: 7%;
    }
    .navi1 {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1280px) {
    BODY {
        padding-top: 6%;
    }
    .navi1 {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1550px) {
     BODY {
        padding-top: 4%;
    }
    .navi1 {
        padding-left: 15%;
        padding-right: 15%;
    }
}