/*
 <!--
 RMDocSystem - System do zarządzania dokumentami w technologii Java EE
 Wykonał: inż Robert Międlarz
 -->
*/
/* 
    Created on : 2016-05-11, 23:09:35
    Author     : Adonai
*/

BODY{
    background-color: white;
}
H1{
    color: green;
}