<div class="row">
    <div class="col-sm-12">
        <h1 class="">Logowanie</h1>
        <div ng-if="msgWar" class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Ostrzeżenie!</strong> Jesteś już zalogowany!
        </div>
        <div ng-if="msgErrLog" class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Błąd!</strong> Dane logowania są niepoprawne!
        </div>
        <form ng-if="!msgWar" ng-submit="login(username, password)">
            <div class="form-group">
                <label>Nazwa użytkownika</label>
                <input required="true" class="form-control" type="text" ng-model="username">
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input  required="true" class="form-control" type="password" ng-model="password">
            </div>
            <input class="btn btn-success btn-lg btn-block" type="submit" value="Zaloguj"> 
        </form>
    </div>

</div>